In [ ]:
import sys
sys.path.append('./../../')

In [1]:
import ikamoana.fisherieseffort.fisherieseffort as fe

In [2]:
filepath = "./../../data/fisheries_effort/fisheries_data_2021_Nov8.txt"

In [3]:
fe.readFile(filepath, header_position=0, columns_name=None)

          f    yr  mm  dd gr   lat    lon  res    E       C
0         1  1950   1  15  P  46.5  150.5    1  1.0   0.047
1         1  1950   1  15  P  34.5  136.5    1  0.0   0.000
2         1  1950   1  15  P  34.5  138.5    1  0.0   0.000
3         1  1950   1  15  P  34.5  139.5    1  9.0   0.000
4         1  1950   1  15  P  33.5  133.5    1  0.0   0.000
...      ..   ...  ..  .. ..   ...    ...  ...  ...     ...
1181772  15  2014   8  15  P  11.5  214.5    5  3.0  30.000
1181773  15  2014   8  15  P  10.5  229.5    5  3.0   9.000
1181774  15  2014   8  15  P   9.5  233.5    5  3.0   0.000
1181775  15  2014   8  15  P   2.5  239.5    5  3.0  39.000
1181776  15  2014   8  15  P   1.5  241.5    5  3.0  36.000

[1181777 rows x 10 columns]

In [4]:
fe.readFile(filepath, header_position=0, columns_name=["fishery","year","month","day","gear","latitude","longitude","resolution","Effort","Catch"])

,fishery,year,month,day,gear,latitude,longitude,resolution,Effort,Catch
0,1,1950,1,15,P,46.5,150.5,1,1.0,0.047
1,1,1950,1,15,P,34.5,136.5,1,0.0,0.000
2,1,1950,1,15,P,34.5,138.5,1,0.0,0.000
3,1,1950,1,15,P,34.5,139.5,1,9.0,0.000
4,1,1950,1,15,P,33.5,133.5,1,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...
1181772,15,2014,8,15,P,11.5,214.5,5,3.0,30.000
1181773,15,2014,8,15,P,10.5,229.5,5,3.0,9.000
1181774,15,2014,8,15,P,9.5,233.5,5,3.0,0.000
1181775,15,2014,8,15,P,2.5,239.5,5,3.0,39.000
1181776,15,2014,8,15,P,1.5,241.5,5,3.0,36.000